@font-face {
    font-family: Vazir;
    src: url("Vazir-Regular.eot");
    src: url("Vazir-Regular.eot?#iefix") format("embedded-opentype"),
      url("Vazir-Regular.woff2") format("woff2"),
      url("Vazir-Regular.woff") format("woff"),
      url("Vazir-Regular.ttf") format("truetype");
  }
  
.contain-weather-info{
    background-color: rgba(255, 255, 255, 0.621);
    direction: rtl;
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
}

.container-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../public/bg.jpg');
    background-size: cover;
}